.yellow{
    background-color: #fff187;
    fill: #bbc200;
}
.green{
    background-color: #76e667;
    fill: green;
}
.purple{
    background-color: #a263ff;
    fill: #872bab;
}
.aqua{
    background-color: #80eaff;
    fill: #407f82;
}
.red{
    background-color: #ff8480;
    fill: red;
}
.pink{
    background-color: #f588f7;
    fill: #f707dc;
}
.orange{
    background-color: #ebb867;
    fill: #ff7700;
}

.gray{
    fill: rgb(128, 128, 128);
}
.water{
    background-color: #4c6fed;
}
.white{
    background-color: #ffffff;
    fill: #9ea9ba;
}